[submodule "zowe-explorer-vscode"]
	path = zowe-explorer-vscode
	url = ../zowe-explorer-vscode.git
	branch = web-extension-poc
[submodule "zowe-cli"]
	path = zowe-cli
	url = ../zowe-cli
	branch = run-in-browser
